
<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
    <form class="form-group" [formGroup]="loginForm" (submit)="onSubmit()">

        <!-- Email input -->
        <app-text-input formControlName="email" [label]="'Email address'"></app-text-input>
        <!-- Password -->
        <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>
      
          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>
      
        <!-- Submit button -->
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block mb-4" style="width: 100%;">Sign in</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a routerLink="/account/register">Register</a></p>
        </div>
      </form>
    </div>

    <!-- <div class="col-4">
      <p>status {{loginForm.status}}</p>
      <p>status {{loginForm.value | json}}</p>
    </div> -->
</div>


