<div class="container">
    <div class="row" *ngIf="product">
        <div class="col-6">
            <img [src]="product.pictureUrl" [alt]="product.name" class="img-fluid w-50">
        </div>
        
        <div class="col-6" style="margin-top: 3rem">
            <h1>{{product.name}}</h1>
    
            <div class="mb-3"><h5>{{product.price | currency}}</h5></div>
    
            <div class="d-flex justify-content-start align-items-center">
                <div *ngIf="!added; else addedContainer">
                    <i  
                        class="fa fa-minus-circle text-warning me-2" 
                        style="font-size: 2em; cursor: pointer;"
                        (click)="decreaseQty()"></i>

                    <span style="font-size: 1.5rem; font-weight: bold;">{{quantity}}</span>

                    <i 
                        class="fa fa-plus-circle text-warning mx-2" 
                        style="font-size: 2em; cursor: pointer;"
                        (click)="increaseQty()"></i>

                   <button  (click)="addToCart()" type="button" class="btn btn-outline-secondary btn-lg">Add to Cart</button>
                </div>

                <ng-template #addedContainer>
                    <i class="fa fa-check mx-2" style="font-size: 2em; color: #008000;"></i>
                </ng-template>
            </div>
            
        </div>
    
        <div class="row">
            <div class="col-12 ml-3">
                <h2>Decription</h2>
                <div>{{product.description}}</div>
            </div>
        </div>
    </div>
</div>
