<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-auto">
      <i class="fa fa-check-circle fa-5x" style="color:green"></i>
    </div>
    <div class="col">
      <h2>Thank you. Your order is confirmed</h2>
    </div>
  </div>
  <p *ngIf="order"> {{order | json}} </p>

  <button class="btn btn-outline-success mt-3" *ngIf="order" routerLink="/orders/{{order.id}}">View your order</button>
  <button class="btn btn-outline-success mt-3" *ngIf="!order" routerLink="/orders">View orders</button>
</div>
