<ng-container *ngIf="(breadcrumbs$ | async) as breadcrumbs">
    <section class="py-5 section-header-container" *ngIf="breadcrumbs.length && breadcrumbs[breadcrumbs.length-1].label && breadcrumbs[breadcrumbs.length-1].label !== 'Home'">
        <div class="container">
            <div class="row d-flax align-items-center">
                <div class="col-9">
                    <h1 *ngIf="breadcrumbs[breadcrumbs.length-1].label.indexOf('-') === -1; else other">{{ (breadcrumbs[breadcrumbs.length-1].label) }} </h1>
                    <ng-template #other>
                        <h1>{{ (breadcrumbs[breadcrumbs.length-1].label).substr(0, breadcrumbs[breadcrumbs.length-1].label.indexOf('-')) }} </h1>
                    </ng-template>
                    
                </div>
                <div class="col-3">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
        </div>
    </section>
</ng-container>

