.selected-list-item {
    background-color: orange;
}

.list-group-item{

  padding:10px 20px;
  cursor: pointer;
  border:none;
  font-size: 1.1em;
  border-radius: 10px;


  &:not(.active):hover {
    background-color: #93d70bac;
    color:white;
  }
}
