
   <header>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between 
      p-3 mb-3 border-bottom shadow-sm fixed-top bg-white">
        
        <img src="/assets/images/logo.png" style="max-height: 70px" alt="logo" class="logo" routerLink="/">
  
        <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size:larger">
          <a class="me-3 py-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          <a class="me-3 py-2" routerLink="/shop" routerLinkActive="active">Shop</a>
          <a class="me-3 py-2" routerLink="/test-error" routerLinkActive="active" >Errors</a>
        </nav>

        <div class="d-flex align-items-center" *ngIf="(basket$ | async) as basket">
            <a routerLink="/basket" style="margin-right: 30px" class="position-relative">
                <i class="fa fa-shopping-cart fa-2x mr-1 text-dark"></i>
                <div class="cart-no" *ngIf="basket.items.length" >{{basket.items.length}}</div>
            </a>

            <!-- no user -->
            <ng-container  *ngIf="(user$ | async) === null">
              <a routerLink="/account/login" class="btn btn-outline-secondary" style="margin-right: 10px;">Login</a>
              <!-- <a routerLink="/account/register" class="btn btn-outline-secondary">Sign up</a> -->
            </ng-container>

            <!-- user -->
            <ng-container *ngIf="user$ | async">
              <div dropdown class="dropdown ms-3 me-5">
                <a dropdownToggle class="dropdown-toggle" style="cursor: pointer;">
                  Welcome  <b>{{(user$ | async).userName}}</b>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                    <a class="dropdown-item align-items-center py-2" routerLink="/basket">
                      <i class="fa fa-shopping-cart ms-2"></i> 
                      <span class="ms-3">View Basket</span>
                    </a>

                    <a class="dropdown-item d-flex align-items-center py-2" routerLink="/orders">
                      <i class="fa fa-history ms-2"></i>
                      <span class="ms-3">View Orders</span>
                    </a>
                  
                  <div class="divider dropdown-divider"></div>

                  <a class="dropdown-item align-items-center py-2" (click)="logout()">
                    <i class="fa fa-sign-out ms-2"></i>
                    <span class="ms-3">Logout</span>
                  </a>
                  
                </div>
              </div>

            </ng-container>
        </div>

      </div>
    </header>
