
   <header>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between 
      p-3 mb-3 border-bottom shadow-sm fixed-top bg-white">
        
        <img src="/assets/images/logo.png" style="max-height: 70px" alt="logo" class="logo" routerLink="/">
  
        <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size:larger">
          <a class="me-3 py-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          <a class="me-3 py-2" routerLink="/shop" routerLinkActive="active">Shop</a>
          <a class="me-3 py-2" routerLink="/test-error" routerLinkActive="active" >Errors</a>
        </nav>

        <div class="d-flex align-items-center" *ngIf="(basket$ | async) as basket">
            <a routerLink="/basket" style="margin-right: 30px" class="position-relative">
                <i class="fa fa-shopping-cart fa-2x mr-1 text-dark"></i>
                <div class="cart-no" *ngIf="basket.items.length" >{{basket.items.length}}</div>
            </a>

            <a href="#" class="btn btn-outline-secondary" style="margin-right: 10px;">Login</a>
            <a href="#" class="btn btn-outline-secondary">Sign up</a>
        </div>

      </div>
    </header>
